<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
/**
*@Author: wangshen
*@Date: 2020/4/7
*@Description: 抗战历史详细展示页面
*/
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to=no">
    <title>抗战历史</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
</head>
<body>
<div th:include="~{index::navTop}"></div>
<div th:include="~{history::ulTop}"></div>
<div class="container theme-showcase">
    <div class="page-header">
        <p class="text-center" style="font-size:xx-large" th:text="'剧中对齐'"></p>
    </div>
    <div class="row">
        <img class="center-block img-thumbnail" src="static/picture/pictureOne.jpg" alt="通用的占位符缩略图">
    </div>
    <div>
        <p class="text-justify" style="font-size: large" >邓小平，1904年8月22日生于四川省广安县协兴场牌坊村。1920年赴法国勤工俭学,从此开始接受马克思主义。1922年加入旅欧中国少年共产党(随后改称为中国社会主义青年团旅欧支部),1924年转入中国共产党。

            1937年7月抗日战争爆发,8月红军改编为国民革命军第八路军后,任八路军政治部副主任。1938年1月任第129师政治委员,同师长刘伯承坚决贯彻中共中央关于抗日游击战争的战略方针,确定首先在太行山区站稳脚跟,依托山区向平原发展。从1938年2～4月,先后参与指挥长生口、神头岭、响堂铺等战斗和打破日军对晋东南的"九路围攻",创建晋冀豫抗日根据地。同年7月赴冀南,指导抗日武装的整顿、扩编和抗日民主政权建设,发动群众挖沟破路改造地形,推进平原游击战,巩固冀南抗日根据地。在1939年12月～1940年3月国民党顽固派发动的第一次反共高潮中,坚持既团结又斗争的方针,维护抗日民族统一战线,多次同制造摩擦的国民党军将领谈判。3月初,同刘伯承指挥部队歼灭进犯太行抗日根据地的朱怀冰部。为反击日军的"囚笼政策",1940年4～8月,同刘伯承领导晋冀豫抗日根据地军民在日军控制的交通干线上广泛开展破袭战。8月,同刘伯承指挥部队参加由八路军总部发动和指挥的百团大战,组织实施正太、榆辽战役,给日伪军以沉重打击。

            1941年,为改变日军在华北推行"总力战"和"治安强化运动"所造成的抗日根据地被严重蚕食的状况,坚决反对保守退缩、关起门来建设的倾向,强调以武装斗争为核心,面向敌占区,面向交通线,敌进我进,全面对敌。同刘伯承一起指导所部实行主力地方化,强化游击集团,大量组织武装工作队,渗入敌占区,瓦解敌军,争取群众,建立隐蔽游击区,挫败日军对根据地的蚕食和多次残酷扫荡。1942年5月赴中条区检查指导工作,推动了该区对敌斗争的发展。9月任中共中央太行分局书记,领导整风运动、精兵简政、减租减息和生产救灾,使人民得到休养生息,度过敌后抗战最艰难的阶段。

            1943年初,总结晋冀豫抗日根据地五年抗战经验,提出对敌斗争的一系列政策和策略,从思想上、组织上积极进行准备,隐蔽和积蓄力量,迎接战略反攻。10月中共中央北方局和太行分局合并,任北方局代理书记。他领导部队整训和根据地建设,组织对日伪军连续发起攻势作战,不断扩大解放区。1945年6月,在中共第七次全国代表大会上被选为中央委员。</p>
    </div>
</div>

</body>
</html>